from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.conditions import IfCondition
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node

def generate_launch_description():
    # Declare the 'debug' argument
    debug_arg = DeclareLaunchArgument(
        'debug',
        default_value='false',
        description='Launch node in GDB debugging mode'
    )

    # Conditional launch prefix based on debug mode
    launch_prefix_arg = DeclareLaunchArgument(
        'launch_prefix',
        default_value='',
        description='Launch prefix for debugging',
        condition=IfCondition(LaunchConfiguration('debug'))
    )

    # VESC to Odom Node
    vesc_to_odom_node = Node(
        package='vesc_ackermann',
        executable='vesc_to_odom_node',
        name='vesc_to_odom_node',
        output='screen',
        prefix=LaunchConfiguration('launch_prefix')
    )

    # Launch description
    return LaunchDescription([
        debug_arg,
        launch_prefix_arg,
        vesc_to_odom_node
    ])
